@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface font-body antialiased;
  }
}

@layer utilities {
  .bg-approve-gradient {
    background: linear-gradient(135deg, #bac3ff 0%, #4453a7 100%);
  }

  .glass-panel {
    background: rgba(51, 52, 61, 0.6);
    backdrop-filter: blur(24px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
